body {
    background-color: rgb(199, 199, 246);
    text-align: center;
}
header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}
section {
    display: flex;
    justify-content: space-around;
}
footer {
    height: 50px;
    background-color: aqua;
    text-align: end;
}